@import "tailwindcss";

body{
  font-family: 'Epilogue', sans-serif;
  background-color: #160828;
}

.upper{
  @apply   w-screen p-10  flex gap-10  flex-col flex-wrap  ;
  height:500px;
}

.first{
  @apply flex-col gap-2 w-1/4 pl-5
}

.head{
  @apply  font-extrabold text-3xl mb-[250px];
  color:#E0ECDE;
}

.tail{
  @apply text-base text-[15px] leading-[150%];
  color:#F4FBF3;
  opacity:0.7;
}

.second,.third,.fourth{
  @apply  w-1/4  pl-15
}

.topic{
  @apply font-semibold leading-[150%]  text-[18px] mb-8;
  color:#F4FBF3;
  opacity:0.9;
}

.under{
  @apply text-base text-[16px] leading-[150%] flex flex-col space-y-4 ;
  color:#F4FBF3;
  opacity:0.7;
}

.stunderline {
box-shadow: 
    0 -2px 4px -1px rgba(0, 0, 0, 0.5),     
    0 -1px 2px rgba(255, 255, 255, 0.15);    
}


.lower{
  @apply text-base p-10 w-full ;
   color:#F4FBF3;
   opacity:0.7;
   

}
.fir{
  @apply flex gap-5 justify-between mb-10
}

.list{
  @apply flex justify-between items-center gap-5;
}